### Import Library

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import numpy as np
import re

### Twitter Full Data Crawling without API
We will take tweet data using keyword: **Ferdy Sambo** and **lang:id** (tweet in bahasa Indonesia only)

In [2]:
query = '"Ferdy Sambo" lang:id'
tweets = []
limit = 10000

%time

try:
    print('Start crawling')
    for tweet in sntwitter.TwitterSearchScraper(query=query).get_items():
        if len(tweets) == limit:
            break
        else:
            if tweet.inReplyToUser is not None:
                tweet_type = 'reply'
                tweet_reply = re.findall(r'[/]\w+', str(tweet.inReplyToUser))[-1].replace('/','')
            elif tweet.quotedTweet is not None:
                tweet_type = 'retweet'
                tweet_reply = None
            else:
                tweet_type = 'original'
                tweet_reply = None
            tweets.append([tweet.conversationId,
                           tweet.coordinates,
                           tweet.date,
                           tweet.hashtags,
                           tweet.id,
                           tweet.inReplyToTweetId,
                           tweet.inReplyToUser,
                           tweet_reply,
                           tweet.lang,
                           tweet.likeCount,
                           tweet.media,
                           tweet.mentionedUsers,
                           tweet.outlinks,
                           tweet.place,
                           tweet.quoteCount,
                           tweet.quotedTweet,
                           tweet.renderedContent,
                           tweet_type,
                           tweet.replyCount,
                           tweet.retweetCount,
                           tweet.retweetedTweet,
                           tweet.sourceLabel,
                           tweet.url,
                           tweet.user,
                           tweet.user.username])

    df = pd.DataFrame(tweets, columns=(['conversationId',
                                        'coordinates',
                                        'date',
                                        'hashtags',
                                        'id',
                                        'inReplyToTweetId',
                                        'inReplyToUser_url',
                                        'inReplyToUser',
                                        'lang',
                                        'likeCount',
                                        'media',
                                        'mentionedUsers',
                                        'outlinks',
                                        'place',
                                        'quoteCount',
                                        'quotedTweet',
                                        'description',
                                        'tweet_type',
                                        'replyCount',
                                        'retweetCount',
                                        'retweetedTweet',
                                        'source',
                                        'tweet_url',
                                        'user_url',
                                        'username']))
except Exception as e:
    print(e)
    
print('Finished')
print('-----')

CPU times: total: 0 ns
Wall time: 0 ns
Start crawling
Finished
-----

In [3]:
df

,conversationId,coordinates,date,hashtags,id,inReplyToTweetId,inReplyToUser_url,inReplyToUser,lang,likeCount,...,quotedTweet,description,tweet_type,replyCount,retweetCount,retweetedTweet,source,tweet_url,user_url,username
0,1560128151354626050,None,2022-08-18 04:55:11+00:00,None,1560128151354626050,NaN,None,None,in,0,...,https://twitter.com/GelarPrakosa/status/155980...,pak kapolri wkwkwk raganya di istana pikiranny...,retweet,0,0,None,Twitter for Android,https://twitter.com/afterstresed/status/156012...,https://twitter.com/afterstresed,afterstresed
1,1560127971956260864,None,2022-08-18 04:54:28+00:00,"[BreakingNews, TempoKM50, PeriksaFadil, CopotK...",1560127971956260864,NaN,None,None,in,0,...,None,IPW Ungkap Ada Pergerakan Pasukan yang Halangi...,original,0,0,None,Twitter for Android,https://twitter.com/dndtirani/status/156012797...,https://twitter.com/dndtirani,dndtirani
2,1560127658616569856,None,2022-08-18 04:53:14+00:00,None,1560127658616569856,NaN,None,None,in,0,...,None,Kompolnas Desak Polri Beri Sanksi Pemecatan Te...,original,0,0,None,Twitter Web App,https://twitter.com/fauzi_ajah/status/15601276...,https://twitter.com/fauzi_ajah,fauzi_ajah
3,1560127029559070720,None,2022-08-18 04:50:44+00:00,"[PolisiRekayasaKasus, PolisiRekayasaKasus]",1560127029559070720,NaN,None,None,in,12,...,None,FERDY SAMBO CS KALO SERIUS DIPERIKSA BISA DAPA...,original,0,2,None,Twitter for Android,https://twitter.com/MprAldo/status/15601270295...,https://twitter.com/MprAldo,MprAldo
4,1560126951037480960,None,2022-08-18 04:50:25+00:00,"[BreakingNews, TempoKM50, PeriksaFadil, CopotK...",1560126951037480960,NaN,None,None,in,0,...,None,KPK Buka Peluang Tindak Lanjuti Laporan Upaya ...,original,0,0,None,Twitter for Android,https://twitter.com/dndtirani/status/156012695...,https://twitter.com/dndtirani,dndtirani
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1558303858777997312,None,2022-08-13 04:06:06+00:00,None,1558303858777997312,NaN,None,None,in,1233,...,None,Mahfud MD Sindir DPR Terkait Kasus Ferdy Sambo...,original,147,328,None,Twitter for Android,https://twitter.com/geloraco/status/1558303858...,https://twitter.com/geloraco,geloraco
9996,1558303712749047808,None,2022-08-13 04:05:31+00:00,"[FerdySambo, Sambo, Kasmaran]",1558303712749047808,NaN,None,None,in,0,...,None,Kejaksaan Agung telah menerima surat pemberita...,original,0,0,None,Twitter for Android,https://twitter.com/Berita_Orbit/status/155830...,https://twitter.com/Berita_Orbit,Berita_Orbit
9997,1558303581362692097,None,2022-08-13 04:05:00+00:00,None,1558303581362692097,NaN,None,None,in,0,...,None,Ferdy Sambo Blak-blakan saat Diperiksa di Ruan...,original,0,0,None,WordPress.com,https://twitter.com/Zyanpatra/status/155830358...,https://twitter.com/Zyanpatra,Zyanpatra
9998,1558303420003799040,None,2022-08-13 04:04:21+00:00,None,1558303420003799040,NaN,None,None,in,28,...,None,Penyidikan Kasus Pelecehan Seksual Istri Ferdy...,original,1,6,None,Twitter for Android,https://twitter.com/ZulkifliLubis69/status/155...,https://twitter.com/ZulkifliLubis69,ZulkifliLubis69
9999,1558303354601996290,None,2022-08-13 04:04:06+00:00,[KoranTempo],1558303354601996290,NaN,None,None,in,5,...,None,Penetapan Ferdy Sambo sebagai tersangka pembun...,original,0,1,None,Twitter for Android,https://twitter.com/Venom1982_/status/15583033...,https://twitter.com/Venom1982_,Venom1982_

### Filter Data Tweet (Tweet Type = Reply)

In [4]:
df_reply = df[['inReplyToUser','username']][df['tweet_type'] == 'reply']
df_reply

        inReplyToUser         username
9            KompasTV      Haji_Bajuri
15      OposisiCerdas        Aby_zaky_
28      OposisiCerdas        Aby_zaky_
52             saddw_          sksnprk
57            susno2g      Rawit234234
...               ...              ...
9943         detikcom         AAldhiaz
9949        tvOneNews     YovieDjody18
9982  Theking3231Juan  Theking3231Juan
9983   Mdy_Asmara1701  dzulkifli_dzavu
9987     Mose91831634       DwiYatmo14

[1278 rows x 2 columns]

In [5]:
# Sort the cases with a->b and b->a
relationship_df = pd.DataFrame(np.sort(df_reply.values, axis = 1), columns = ['from','to'])
relationship_df

                 from               to
0         Haji_Bajuri         KompasTV
1           Aby_zaky_    OposisiCerdas
2           Aby_zaky_    OposisiCerdas
3              saddw_          sksnprk
4         Rawit234234          susno2g
...               ...              ...
1273         AAldhiaz         detikcom
1274     YovieDjody18        tvOneNews
1275  Theking3231Juan  Theking3231Juan
1276   Mdy_Asmara1701  dzulkifli_dzavu
1277       DwiYatmo14     Mose91831634

[1278 rows x 2 columns]

In [6]:
relationship_df["value"] = 1
relationship_df = relationship_df.groupby(["from","to"], sort=False, as_index=False).sum()

In [7]:
relationship_df.head(10)

              from              to  value
0      Haji_Bajuri        KompasTV      1
1        Aby_zaky_   OposisiCerdas      2
2           saddw_         sksnprk      1
3      Rawit234234         susno2g      1
4   linajobstreett      syphayoaku      1
5      SmgMenfess2       dianiiiyy      1
6           JHaduw          bayoep      1
7    dhimasbagus13       hellodeka      1
8  bachrum_achmadi          bayoep      1
9        Riznan_13  txtdaribandung      1

In [8]:
relationship_df.to_csv('relation_tweet.csv', index=False)